@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:ital,wght@0,400;0,600;1,700&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Titillium Web', sans-serif; */

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-item {
    flex: 1;
    text-align: center;
    padding: 30px;
    margin: 10px;
}

.text-left {
    text-align: left;
}

header {
    background-color:lightsalmon;
    padding-bottom:20px;
}

header > nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills {
    background-color: #f7e0c8;
    border-radius: 20px;
}

nav > ul{
    display: flex;
    justify-content: center;    
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding-left: 0;
}

nav > ul > li > a {
    text-decoration: none;
    margin: 0 20px 0 0;
    color: whitesmoke;
}

nav > ul > li:last-child > a {
    margin-right:0;
}

h1 {
    font-size: 80px;
    font-family: 'Titillium Web', sans-serif;
    color:whitesmoke;
    text-align: center;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    padding-left: 30px;
    color: salmon;
    font-size: 40px;
    font-weight: 700;
    font-style: italic
}

img {
    max-width: 85%;
    padding: 10%;
    opacity: 85%;
}

main > section > ul {
    flex-direction: column;
    padding-left: 0;
}

main section ul li {
    background-color: lightgoldenrodyellow;
    max-width: 400px;
    max-height: 400px;
    padding: 30px;
    margin: 30px;
    flex: 1;
    list-style: none;

}

main ul li a {
    text-decoration: none;
    justify-content: center;
    color:salmon;
    padding: 10px;
}


main section img {
    width: 100%;
    padding: 30px;
    border-radius: 50%
}

main section form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
}

section.bg-callout {
    background-color: salmon;
    color: whitesmoke;
    /* padding: 100px; */
}

form input, form textarea {
    width: 100%;
}

form textarea {
    height: 250px;
    color: darksalmon;
}


form input[type=text] {
    color: darksalmon;
}

button {
    padding: 10px 16px;
    border-radius: 10px;
    border: 0;
    font-size: 16px;
    background: darksalmon;
    color: #fff;
    margin: 0 8px 10px 0;
}

h4 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 40px;
    color: whitesmoke;
    font-style: italic;
}

footer {
    color: salmon;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    text-align: center;
}

@media all and (min-width: 993px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

    header nav ul li a:hover {
        color: rgb(117, 76, 62);
    }

    main > section > ul > li {
        flex-direction: row;
    }

    main ul li a:hover {
        color:darksalmon;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
    }
}