.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-item {
    flex: 1;
    text-align: center;
    padding: 30px;
    margin: 10px;
}

.text-left {
    text-align: left;
}

header {
    background-color:lightsalmon;
    padding-bottom:20px;
}

div {
    border-style: solid;
    border-color: red;
    border-width: 5px;
}

nav {
    margin: 0;
    display: flex;
    justify-content: center;
}

nav > ul{
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    padding-left: 0;
}

nav > ul > li > a {
    text-decoration: none;
    margin: 0 20px 0 0;
    color: whitesmoke;
}

nav > ul:last-child > a{
    margin-right:0;
}

h1 {
    font-size: 52px;
    font-family: 'Courier New', Courier, monospace;
    color:whitesmoke;
    text-align: center;
}

img {
    max-width: 85%;
    padding: 10%;
    opacity: 85%;
}

main > section > ul {
    flex-direction: column;
}

main section ul li {
    background-color: lightgoldenrodyellow;
    max-width: 400px;
    max-height: 400px;
    padding: 30px;
    margin: 30px;
    flex: 1;
    list-style: none;

}

main ul li a {
    text-decoration: none;
    justify-content: center;
    color:salmon;
    padding: 10px;


}


main section img {
    width: 100%;
    padding: 30px;
    border-radius: 50%
}

.

main section form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    align-content: center;
}

section.bg-callout {
    background-color: salmon;
    color: whitesmoke;
    padding: 100px;
}

form input, form textarea {
    width: 100%;
}

form textarea {
    height: 250px;
    color: darksalmon;
}



form input[type=text] {
    color: darksalmon;
}

button {
    padding: 10px 16px;
    border-radius: 10px;
    border: 0;
    font-size: 16px;
    background: darksalmon;
    color: #fff;
    margin: 0 8px 10px 0;
}

.group {
    flex-direction: column;
    margin-bottom: 100px;
    text-align: center;
}

.item {
    padding: 20px;
    flex: 1;
    justify-content: space-evenly;
}

@media all and (min-width: 800px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

    header nav ul li a:hover {
        color: rgb(117, 76, 62);
    }

    main > section > ul > li {
        flex-direction: row;
    }

    main ul li a:hover {
        color:darksalmon;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
    }
}